#container {
    background-color: rgb(230, 230, 31);
    display: flex;
    flex-flow: column nowrap;

    width: 480px;
}

section {
    display: flex;
    justify-content: center;
    background-color: rgb(214, 112, 11);
}

section > div {
    width: 20px;
    height: 20px;
    background-color: white;
}

