#page {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 600px;
}

#container {
    display: flex;
    flex-direction: column;
    
    width: 300px;
}

.row {
    display: flex;
}

.box {
    border: 1px solid black;
}

button {
    width: 100px;
}
